---
import Main from '../layouts/Main.astro';

// import fetchApi from '../lib/strapi';
// import type { FrequentlyAskedQuestionsPage } from 'src/types/types';

// const faqPage = await fetchApi<FrequentlyAskedQuestionsPage>({
//   endpoint: 'frequently-asked-questions-page',
//   wrappedByKey: 'data'
// });
---

<Main>
  <p>This is the FAQ page</p>
</Main>
