---
import Main from '../layouts/Main.astro';
---

<Main>
  <div class="gap-0">
  <h2 class="text-4xl p-5">Frequently Asked Questions</h2>
  <h2 class="text-2xl">Q: What do you train at OFC?</h2>
  <p class="">
    A: Martial arts. The type will depend on who is coaching. The topic of the day will usually be written on the poll.  </p>
  <h2 class="text-2xl pt-6">Q: Can I join even if I'm a beginner / out of shape / new to exercise / new to martial arts?</h2>
  <p class="">
    A: Absolutely yes, unless specifically stated in the poll. Our trainings tend to be very beginner-friendly.
  <h2 class="text-2xl pt-6">Q: Do I need a mouthguard?</h2>
  <p class="">
    A: No, but you'll get a lot more out of our trainings if you have one. You can buy them at most sport stores and they cost 5-10 e at their cheapest.  </p>
  <h2 class="text-2xl pt-6">Q: Do I need any other equipment?</h2>
  <p class="">
    A: No, you can borrow equipment from us, although there is only a limited amount. If you start training often, you might want to invest in gloves / shinpads / whatever your martial art needs. If you already own equipment, bring it!  </p>
  <h2 class="text-2xl pt-6">Q: Can I join even if I'm injured / have a past injury / have some medical issue?</h2>
  <p class="">
    A: Ask your doctor. Make sure to tell your coach if you have any injuries or issues. OFC is not responsible for injuries you might get from training, but by knowing what problems you might have, the coaches can better give instructions on how to proceed.  </p>
  <h2 class="text-2xl pt-6">Q: How do I join the board and the more official organisation stuff?</h2>
  <p class="">
    A: Just show up when meetings are announced! </p>
  <p class="pt-6 pb-40">
    In case you have any questions, feel free to DM me or any of the coaches. </p>
  </div>
  </Main>
