---
import Main from '../layouts/Main.astro';

// import fetchApi from '../lib/strapi';
// import type { BecomeAMemberPage } from 'src/types/types';

// const becomeAMemberPage = await fetchApi<BecomeAMemberPage>({
//   endpoint: 'become-a-member-page',
//   wrappedByKey: 'data'
// });
---

<Main>
  <p>This is the become a member page</p>
</Main>
