---
import Main from '../../layouts/Main.astro';
import MediaCarousel from '../../components/MediaCarousel';
import PersonCarouselComponent from '../../components/PersonCarouselComponent';
import { getHTMLfromMDX } from 'src/common/common';

export async function getStaticPaths() {
  return [{ params: { language: 'finnish' } }, { params: { language: 'english' } }];
}
const url = Astro.url.href;
const { language } = Astro.params;

import fetchApi from '../../lib/strapi';
import type { HomePage, MemberComment } from '../../types/types';

const homePage = await fetchApi<HomePage>({
  endpoint: 'home-page',
  query: {
    locale: language === 'english' ? 'en' : 'fi',
    populate: '*'
  },
  wrappedByKey: 'data'
});

const intro = getHTMLfromMDX(String(homePage.introductionText), {
  h1: 'font-bold text-3xl m-2',
  p: 'p-8'
});

const memberComments =
  (await fetchApi<MemberComment[]>({
    endpoint: 'member-comments',
    query: {
      locale: language === 'english' ? 'en' : 'fi',
      populate: '*'
    },
    wrappedByKey: 'data'
  })) ?? [];

// @ts-ignore
const mediaSlides = homePage.carouselMedias.map(media => ({
  type: media.mime,
  altText: media.alternativeText,
  mediaUrl: media.url ?? media.formats.large.url
}));

const memberSlides = memberComments.map(member => ({
  name: String(member.name),
  description: String(member.comment),
  // @ts-ignore
  image: String(member.profilePhoto.formats.small.url)
}));
---

<Main url={url}>
  {intro}
  <MediaCarousel client:only='react' medias={mediaSlides} />
  <hr />
  <h1 class='font-bold text-2xl'>Comments from our members</h1>
  <PersonCarouselComponent client:only='react' personSlides={memberSlides} />
  <hr />
</Main>
